body {
    font-family: 'Open Sans', sans-serif;
}

.gradient-style {
    text-decoration: none;
    background-color: #f55142;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    color: white;
}

.text-and-background {
    text-align: center;
    background-image: url(images/relief-flood.webp);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1%;
}

#text-edit-1 {
    font-size: 70px;
    color: white;
    padding-top: 60px;
}


.text-edit-3 {
    font-size: x-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 60px;
}

.flexible {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px
}

.align {
    text-align: center;
}

.background-design {
    background-color: #f2f2f2;
    padding: 20px 10px 20px 10px;
    color: grey;
    border-radius: 3px;
}

.big-font {
    font-size: 55px;
    padding-top: 100px;
}

.gray {
    color: gray;
    font-size: larger
}

#input-setup {
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #cccccc;
}

#add-color {
    color: #cccccc;
}

#border-add {
    padding: 20px 10px 20px 10px;
    color: #f55142;
    background-color: #fde8e8;
    border-radius: 3px;
    border-style: solid;
    border-color: #f55142;
}

#downthis {
    padding-top: 100px;
}

.box-1 {
    width: 300px;
    height: 300px;
    background-color: #e6f7f5;
    margin-left: 16%;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 50px;
}

.box-2 {
    width: 300px;
    height: 300px;
    background-color: #fae1ed;
    margin-left: 90px;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 50px;
}

.box-3 {
    width: 300px;
    height: 300px;
    background-color: #faf8d7;
    margin-left: 90px;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 50px;
}

.just-flex {
    display: flex;
    padding-top: 60px;
}

.color-change {
    color: grey
}

.again-flex {
    display: flex;

}

.again-margin {
    width: 700px;
    height: 700px;
    margin-left: 200px;
    margin-top: 160px;
}

.again-margin-2 {
    margin-right: 50px;
    margin-top: 170px;
}

#sizefont {
    font-size: x-large
}

.flex-flex {
    display: flex;
}

.editthis {
    margin-left: 180px;
    margin-top: 30px;
}

.and-editthis {
    margin-left: 100px;
    margin-top: 10px;
}

#again-fontsize {
    font-size: x-large;
    padding-right: 20px;
}

.more-font {
    font-size: 55px;
    padding-top: 20px;
}

#centerthis {
    text-align: center;
}

.go-center {
    text-align: center;
    background-color: #faf8d7;
    width: 800px;
    height: 80px;
    padding-left: 100px;
    padding-top: 60px;
    padding-right: 60px;
    margin-left: 450px;
    margin-top: 30px;
}

button {
    color: white;
    background-color: #f55142;
    border-color: #f55142;
    border-style: solid;
}

footer {
    text-align: center;
    background-color: black;
    margin-top: 10%;
    height: 200px;
    padding-top: 60px;
    width: 100%;
    position: 100%;
}

#last-color {
    color: yellowgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px
}

#lastt-color {
    color: white;
}

#contact {
    text-decoration: none;
}

#food-cloth {
    display: flex;
    height: 350px;
    width: 450x;
}

#box-box {
    margin-left: 180px;
    margin-top: 153px;
}

#ash {
    color: gray;
}